body {
	background-color: rgb(240,240,240);
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
}

aside {
	color: white;
	float: left;
	margin-right: 15%;
	background: transparent;
	border-right: 5px solid gray;
	height: 500px;
}
h1,h2,h3,h4,h5 {
	font-family: 'Lato', sans-serif
}

.isInactive{
	text-decoration: line-through;
}
ul.menu {
	font-weight: bold;
	font-size: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}
input {
	background-color: rgba(255,165,0,0.4);
}
#content {
	display: inline-block;
}
#container {
	width: 80%;
	background-color: rgba(255,165,0, 0.4);
	margin: 40px auto;
	height: 100vh;
	padding: 45px 80px;
	box-sizing: border-box;
}

@media (max-width: 800px) {
	#container {
		width: 95%;
	}
}
.vertical-menu {
	width: 200px;
	height: 100%;
	overflow-y: auto;
}
.vertical-menu a{
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}
.vertical-menu a:hover {
	background-color: #ccc;
}
.vertical-menu a.active {
	background-color: #4CAf50;
	color: white;
}

